<h1>Craft Projects</h1>
<%= link_to "Add a new craft project", new_craft_path, class: "button" %>

<ul class="item-list">
    <div class="container">
        <% @crafts.each do |c| %>
            <li class="item-list-detail"><strong><%= link_to c.title, craft_path(c.id) %></strong> <div class="badge"><%= c.method %></div> </li>
        <% end %>
    </div>
</ul>