<div class="welcome-card">
    <h1 class="center">Plan your craft projects with CraftPlanner.</h1>
    <ul>
        <li>Make a list of all the projects you’d like to do</li>
        <li>Track the projects you’re working on</li>
        <li>Track the craft materials in your stash</li>
    </ul>
</div>