<div class="welcome-card">
    <h1 class="center">Plan your craft projects with CraftPlanner!</h1>
    <ul class="disc-list">
        <li>List projects you’d like to do</li>
        <li>Track projects you’re working on</li>
        <li>Organize materials in your stash</li>
    </ul>
</div>