/** LAYOUT **/
body {
    /*background-color: #ffebe8;*/
    background-color: #ffebe8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23fbcbc4' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

header {
    background-color: #fff;
    padding: 20px;
}

.button {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #db1d00;
    border-radius: 3px;
    padding: 8px;
    margin: 10px 5px;
    color: #db1d00;
    font-weight: bold;
}

.button:hover {
    background-color: #fff1ef;
}

a {
    text-decoration: none;    
}

a:hover {
    text-decoration: underline;
}

input[type=text] {
    margin-bottom: 10px;    
}

input[type=submit] {
    background-color: #fff;
    border: 1px solid #db1d00;
    border-radius: 3px;
    padding: 8px;
    margin: 10px 5px;
    color: #db1d00;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff1ef;
}

.craft-image {
    background-image: url("craft.jpg");
}

.welcome-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    width: 50%;
    padding: 20px;
    margin: 50px auto;
}

/** UTILITY **/
.float-right {
    float: right;
}

.display-inline {
    display: inline;
}

/** FROM RAILS **/
.edit_project {
    display: inline;
}

/** TYPOGRAPHY **/
h1 {
    font-family: 'Lora', serif;
    font-weight: normal;
    color: #db1d00;
    line-height: 45px;
}

h3 {
    margin: 0;    
}

/* ERRORS */
.center {
    text-align: center;
}

.field_with_errors input {
    border: 1px solid red;
}

.field_with_errors textarea {
    border: 1px solid red;
}

.notice {
    background-color: #eaeaea;
    margin: 10px;
    padding: 2px;
    border: 1px solid #ccc;
}

/** PROJECTS **/
.projects-list {
    list-style: none;
}

.projects-detail {
    border: 1px solid gray;
    background-color: #fff;
}


/** FORMS **/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /*border: 1px solid red;*/
}

.form-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    padding: 0 25px 50px 25px;
}
