<div class="container">
        <div class="table-card mt-50">
            <div class="display-flex">
                <h1>Materials</h1>
                <%= link_to "Add a new material", new_material_path, class: "button self-center ml-20" %>
            </div>

        <table class="shadow">
            <tr>
                <th>Name</th>
            </tr>
        <% @materials.each do |m| %>
            <tr>
                <td class="stash-row row">
                    <%= m.name %>
                </td>
            </tr>
        <% end %>
    </table>
    </div>
</div>