<h1>Materials</h1>
<%= link_to "Add a new material", new_material_path, class: "button" %>

<ul class="item-list">
    <div class="container">
        <% @materials.each do |m| %>
            <li class="item-list-detail"><%= m.name %></li>
        <% end %>
    </ul>
</div>