<% if object.errors.any? %>
  <div id="error_explanation">
    <p>Please fix the following <%= pluralize(object.errors.count, "error") %>:</p>
        <ul class="error-list">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
  </div>
<% end %>